#counter {
	display: block;
	text-align: center;
	font-size: 3em;
	font-family: Helvetica, sans-serif;
}

#btnContainer {
	text-align: center;
}

.btns {
	padding: 10px 20px;
	font-size: 1.5em;
	cursor:pointer;
}