body
{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25vh;
    height: 100vh;
}

.btn, .search
{
    padding:10px;
    margin:5px;
    font-size: 2em;
}

#pokemonImg
{
    width: 20em;
}